# Локальные каталоги .terraform
**/.terraform/*

# .tfstate файлы
*.tfstate
* .tfstate.*

# Файлы журнала сбоев
сбой.log
сбой.*.log

# Исключить все файлы .tfvars, которые могут содержать конфиденциальные данные, такие как
# пароль, закрытые ключи и другие секреты. Они не должны быть частью версии 
# контролируйте, поскольку они являются точками данных, которые потенциально чувствительны и подвержены 
# для изменения в зависимости от среды.
*.tfvars
*.tfvars.json

# Игнорировать файлы переопределения, поскольку они обычно используются для локального переопределения ресурсов и т. Д
# не зарегистрированы
override.tf
переопределить.tf.json
*_override.tf
*_override.tf.json

# Включить переопределенные файлы, которые вы хотите добавить в систему управления версиями, используя отрицаемый шаблон
# !example_override.tf

# Включить файлы tfplan, чтобы игнорировать вывод плана команды: terraform plan -out=tfplan
# пример: * tfplan*

# Игнорировать файлы конфигурации CLI
.terraformrc
terraform.rc